/* Animation effect keyframe for card */
@keyframes hoverAnimation {
  from {
    transform: translateZ(0);
  }
  to {
    transform: perspective(500px) translateZ(15px);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* setting up display page */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.col {
  width: calc(33.33% - 15px);
  margin-bottom: 1.5rem;
}
/* Card styling */

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: white;
  border-radius: 12px;
  text-align: left;
}
.card:hover {
  animation: hoverAnimation 0.3s forwards;
}
/* Card header is for the icon, (company-name, job-role, job-location) */
.card-header {
  display: flex;
  padding-left: 10px;
  gap: 12px;
}
.icon {
  border-radius: 5px;
  text-align: center;
}
.icon img {
  width: 25px;
  height: 40px;
}
.job-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

/* salary part */

.salary {
  margin-top: 15px;
}

/* whole about section */

.about {
  margin-top: 20px;
  position: relative;
}
.about h2 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}
.about h3 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.about-details p {
  height: 250px;
  overflow: hidden;
}

/* View job button handling */
.view-job {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 30px;
  height: 150px;
  background-image: linear-gradient(to bottom, transparent 0%, white 69%);
}
.view-job button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #4943da;
}
/* Minimum experience style handling */
.minimum-experience p:first-child {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 3px;
  color: #8b8b8b;
}
.minimum-experience p:nth-child(2) {
  font-size: 14px;
  line-height: 1.5;
}

/* Button conntainer */
.buttons {
  margin-top: 10px;
}
/* Common styles for both buttons at bottom */
.common-button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 6px;
  width: 100%;
  padding: 8px 18px;
  border: none;
  outline: none;
}

.common-button-style img {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border-radius: 50%;
  filter: blur(2px);
}
.easy-apply {
  background-color: rgb(85, 239, 196);
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-bottom: 6px;
}
.referral {
  background-color: rgb(15, 36, 175);
  color: white;
  font-weight: 350;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
/* .filter-left{
  text-align: left;
} */

.load-more {
  height: 20px;
  background-color: transparent;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .col {
    width: calc(50% - 15px);
  }
}

@media screen and (max-width: 576px) {
  .row {
    gap: 0;
  }
  .col {
    width: 100%;
  }
}
